p Submit a file to view its filesize (and other information).
p fileupload limit is 200 MB

form.fileupload-form
  input.fileupload-input(type='file')
  button.fileupload-submit(type='submit') submit file

pre
  code.fileinfo
script(src='/bundle.js')
